.errorWrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white);
}
.imgThumb {
  max-width: 600px;
  border-radius: 50px;
  margin-bottom: 30px;
  overflow: hidden;
}

.errorTitle {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: var(--text-shadow);
}

.backLink {
  width: 160px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid transparent;
  color: var(--color-font-secondary);
  background-color: var(--color-second-bg);
  transition: var(--transition);
}
.backLink:hover {
  background: transparent;
  color: var(--color-font-main);
  border: 1px solid var(--color-second-bg-hover);
}

@media screen and (min-width: 768px) {
  .errorTitle {
    font-size: 32px;
    font-weight: 700;
  }

  .backLink {
    width: 200px;
    font-size: 22px;
    padding: 12px 32px;
  }
}

@media screen and (min-width: 14400px) {
  .errorTitle {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 28px;
  }
}
